/* Custom variables */
:root {
  /* colors */
  --clr-primary: hsl(36, 71%, 97%);
  --clr-secondary: hsl(19, 55%, 92%);
  --clr-secondary-100: hsl(19, 55%, 97%);
  --clr-button: hsl(179, 32%, 70%);
  --clr-text-primary: hsl(17, 19%, 15%);
  --clr-text-secondary: hsl(0, 0%, 36%);

  /* font sizes */
  --fs-primary: clamp(1rem, 3vw + .5rem, 2.4rem);
  --fs-secondary: clamp(1.2rem, 2.5vw + .5rem, 2.4rem);
  --fs-tertiary: clamp(1.4rem, 1.5vw + .5rem, 1.6rem);


  /* line height */
  --lh-primary: 1.5;
  --ln-secondary: 1.25;
  --ln-tertiary: 1;


  /* width*/
  --width-primary: min(80%, 1200px)
    /* media queries */
}





/* Base reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'],
a {
  list-style: none;
  text-decoration: none;

}

a {
  color: inherit;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* set the font size of 1rem to 10px */
html {
  font-size: 62.5%;
}


/* Set core body defaults */
body {
  min-height: 100vh;
  width: var(--width-primary);
  margin-inline: auto;
  text-rendering: optimizeSpeed;
  line-height: var(--lh-primary);

  background-color: var(--clr-primary);
}




/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* UTILITIES */

/* LAYOUTS */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-flow: row;
}


/* TYPOGRAHPY */

/* Heading's */
.heading-primary {
  font-size: var(--fs-primary);
  color: var(--clr-text-primary);
}

.heading-secondary {
  font-size: var(--fs-secondary);
  color: var(--clr-text-primary);
}

.heading-tertiary {
  font-size: var(--fs-tertiary);
  color: var(--clr-text-primary);
}

/* Paragraphs */
.paragraph-primary {
  font-size: var(--fs-secondary);
  color: var(--clr-text-primary);
}

.paragraph-secondary {
  font-size: var(--fs-tertiary);
  color: var(--clr-text-secondary);
}


/* BUTTON STYLES */
.btn {
  font-size: var(--fs-tertiary);
  background-color: var(--clr-button);
  color: var(--clr-text-primary);
  border: none;
  border-radius: .8rem;
  padding: .4rem;
  cursor: pointer;
}

/* slider btn styles */
.slide-btn {
  border: none;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}



/* BUTTON HOVER ANIMATIONS */

/* keeps the icon and heading next to each other */
.heading-container {
  display: flex;
  align-items: center;
}

.heading-icon {
  max-width: 2.4rem;
  margin-right: .9rem;
  margin-top: -1.5rem;
}

/* sets the see more anchor on the right site of the page */
.see-more {
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 2rem 2rem 4rem;
}

.see-more_img{
  max-width: 2.5rem;
  margin-right:1rem ;
}

/* NAV BAR */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem 0;
}

.logo_img {
  max-width: 4rem;
  margin: .5rem .5rem;
  font-size: var(--fs-secondary);
  color: var(--clr-text-primary);
}

.nav-sites {
  display: none;
}



/* HEADER - NEW PRODUCTS SECTION */

.slider-container {
  /* width: 100%;
    height: 100%; */
  margin-bottom: 4rem;
}


.slider-box {
  display: grid;
  grid-auto-flow: column;
  grid-auto-flow: row;

  margin: .8rem;
  max-width: 30rem;
  height: 100%;
  border-radius: 1rem;
  box-shadow: .2rem 1rem 1rem var(--clr-secondary);
}

.slider-img {
  max-width: 100%;
  grid-column: 1/3;
  grid-row: 1/3;
}

.slider-heading {
  margin-top: 2rem;
  margin-left: .5rem;
  grid-column: 1/6;
  grid-row: 5/6;

}

.btn {
  grid-column: 2/3;
  grid-row: 6/7;
  margin: 1rem;
}

.slide-btn{
  width: 5rem;
  height: 5rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.arrow{
  font-size:3rem;
  margin-top: -.7rem;
  color: var(--clr-text-secondary);
}

/* ABOUT US - SECTION */

.about-us {
  background-color: var(--clr-secondary);
  padding: .5rem;
}

.about-us>* {
  margin: 2.5rem;
  text-align: left;
}

.about-us h1{
  text-align: center;
  margin-bottom: 1.8rem;
}

.about-us_img{
  display: grid;
  place-items: center;
}




/* MEDIA QUERIES */
@media screen and (min-width:900px) {
  .about-us {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-us_content {
    text-align: left;
    max-width: 50%;
  }
  

}