/* Custom variables */
:root {
  /* colors */
  --clr-primary: hsl(36, 71%, 97%);
  --clr-secondary: hsl(19, 55%, 92%);
  --clr-secondary-100: hsl(19, 55%, 97%);
  --clr-button: hsl(179, 32%, 70%);
  --clr-text-primary: hsl(17, 19%, 15%);
  --clr-text-secondary: hsl(0, 0%, 36%);

  /* font sizes */
  --fs-primary: clamp(1.8rem, 3vw + .5rem, 2.4rem);
  --fs-secondary: clamp(1.6rem, 1.5vw + .5rem, 2.4rem);
  --fs-tertiary: clamp(1.4rem, 1vw + .5rem, 1.6rem);


  /* line height */
  --lh-primary: 1.5;
  --ln-secondary: 1.25;
  --ln-tertiary: 1;


  /* width*/
  --width-primary: min(80%, 1800px);
  /* media queries */
}





/* Base reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'],
a {
  list-style: none;
  text-decoration: none;

}

a {
  color: inherit;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* set the font size of 1rem to 10px */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}


/* Set core body defaults */
body {
  min-height: 100vh;
  margin-inline: auto;
  text-rendering: optimizeSpeed;
  line-height: var(--lh-primary);
  background-color: var(--clr-primary);
}

.container {
  max-width: var(--width-primary);
  margin-inline: auto;
}

section {
  margin-bottom: 4rem;
  max-height: 100vh;
}


/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* UTILITIES */

/* LAYOUTS */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-flow: row;
}


/* TYPOGRAHPY */

/* Heading's */
.heading-primary {
  font-size: var(--fs-primary);
  color: var(--clr-text-primary);
}

.heading-secondary {
  font-size: var(--fs-secondary);
  color: var(--clr-text-primary);
}

.heading-tertiary {
  font-size: var(--fs-tertiary);
  color: var(--clr-text-primary);
}

/* Paragraphs */
.paragraph-primary {
  font-size: var(--fs-secondary);
  color: var(--clr-text-primary);
}

.paragraph-secondary {
  font-size: var(--fs-tertiary);
  color: var(--clr-text-secondary);
}


/* BUTTON STYLES */
.btn {
  font-size: var(--fs-tertiary);
  background-color: var(--clr-button);
  color: var(--clr-text-primary);
  border: none;
  border-radius: .8rem;
  padding: .4rem;
  cursor: pointer;
}

/* slider btn styles */
.slide-btn {
  border: none;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}



/* BUTTON HOVER ANIMATIONS */

/* keeps the icon and heading next to each other */
.heading-container {
  display: flex;
  align-items: center;
}

.heading-icon {
  max-width: 2.4rem;
  margin-right: .9rem;
  margin-top: -1.5rem;
}

/* sets the see more anchor on the right site of the page */
.see-more {
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 2rem 2rem 10rem 0;
}

.see-more_img {
  max-width: 2.5rem;
  margin-right: 1rem;
}

/* NAV BAR */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem 0;
}

.logo_img {
  max-width: 4rem;
  margin: .5rem .5rem;
}

.nav-sites {
  display: none;
}



/* HEADER - NEW PRODUCTS SECTION */

.slider-container {
  /* width: 100%;
    height: 100%; */
  margin-bottom: 4rem;
}

.btn {
  grid-column: 2/3;
  grid-row: 6/7;
  margin: 1rem;
}

.slide-btn {
  width: 5rem;
  height: 5rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.arrow {
  font-size: 3rem;
  margin-top: -.7rem;
  color: var(--clr-text-secondary);
}



/* ABOUT US - SECTION */
.about-us {
  background-color: var(--clr-secondary);
  padding: .5rem;
}

.about-us>* {
  margin: 2.5rem;
  text-align: left;
}

.about-us h1 {
  text-align: center;
  margin-bottom: 1.8rem;
}

.about-us_img {
  display: grid;
  place-items: center;
}


/* OUR WORK - SECTION */

.our-work {
  margin-bottom: 4rem;
}

/* hides the curve arrows from small screens */
.curve-arrow_1,
.curve-arrow_2 {
  display: none;
}

/* fixes the issue with the picture in mobile vs desktop */
.package_img_desktop {
  display: none;
}

.package_img_mobile {
  display: inline-block;
}

.our-work_container {
  row-gap: 1.5rem;
}

.our-work_box {
  margin: 1rem;
  display: flex;
  align-items: center;
}

.box-content {
  margin: 1rem;
}


.box-img {
  max-width: 10rem;
}

.embroidery {
  grid-column: 1/3;
  grid-row: 1 / 2;
}

.package {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
  text-align: right;
}

.cargo {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}


  /* PRODUCTS SECTIONs */


  .products {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }

  .product {
    margin: 3.5rem;
  }

  
  .product {
    display: grid;
    grid-auto-flow: column;
    grid-auto-flow: row;
    padding: 2.7rem;
    margin: 2rem 0;
    max-width: 30rem;
    height: 100%;
    border-radius: 1rem;
    box-shadow: .2rem 1rem 1rem var(--clr-secondary);
  }

  
  .product-img {
    max-width: 100%;
    grid-column: 1/3;
    grid-row: 1/3;
  }

  
  .product-heading {
    margin-top: 2rem;
    margin-left: .5rem;
    grid-column: 1/6;
    grid-row: 5/6;
  }




/* FOOTER SECTION */

footer {
  margin-top: 4rem;
  max-height: 100vh;
  padding: 5rem 0 2rem 0;
  background-color: var(--clr-secondary);
  place-items: center;
  row-gap: 2rem;
  column-gap: 1rem;
}

.follow-us {
  grid-column: 1/2;
  grid-row: 1/2;
}

.contact-us {
  grid-column: 3/4;
  grid-row: 1/2;
}

.copyright {
  grid-column: 1/2;
  grid-row: 3/4;
}

.footer-logo {
  max-width: 10rem;
  grid-column: 3/4;
  grid-row: 3/4;
}

.social-icon_container {
  display: flex;
  align-items: center;
  margin: .7rem 0;
}

.social-icon {
  margin-right: 1rem;
  max-width: 1.5rem;
}




/* ***** MEDIA QUERIES ***** */
@media screen and (min-width:900px) {



  /* NAVBAR */

  .nav-container{
    margin: 0;
  }


  .nav-sites {
    display: flex;
  }

  .nav-sites>* {
    margin-inline: 1.25rem;
    font-size: var(--fs-secondary)
  }


  /* HEADER - NEW PRODUCTS SECTION */

  /* SLIDER  & PRODUCTS */

  .slider-container {
    /* width: 100%;
    height: 100%; */
    margin-bottom: 4rem;
  }

  .slider-box,
  .product {
    display: grid;
    grid-auto-flow: column;
    grid-auto-flow: row;

    margin: .8rem;
    max-width: 30rem;
    height: 100%;
    border-radius: 1rem;
    box-shadow: .2rem 1rem 1rem var(--clr-secondary);
  }

  .slider-img,
  .product-img {
    max-width: 100%;
    grid-column: 1/3;
    grid-row: 1/3;
  }

  .slider-heading,
  .product-heading {
    margin-top: 2rem;
    margin-left: .5rem;
    grid-column: 1/6;
    grid-row: 5/6;

  }

  /* PRODUCTS SECTIONs */


  .products {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }

  .product {
    margin: 3.5rem;
    padding: 2.7rem;
  }





  /* ABOUT US - SECTION */
  .about-us {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-us_content {
    text-align: left;
    max-width: 50%;
  }

  /* OUR WORK - SECTION */


  /* adding a bit more space */
  .our-work {
    padding: 3rem 0 10rem 0;

  }

  .heading-container {
    justify-content: flex-start;
    margin: 4rem 0;
  }


  /* shows the curve arrows on bigger screens */
  .curve-arrow_1,
  .curve-arrow_2 {
    display: inline-block;
  }

  /* fixes the issue with the picture in mobile vs desktop */
  .package_img_mobile {
    display: none;
  }

  .package_img_desktop {
    display: inline-block;
  }

  .our-work_container {
    row-gap: none;
    margin-top: 4rem;
  }

  .our-work_box {
    margin: 1rem;
    display: flex;
    align-items: flex-start;
  }

  .embroidery {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    margin-top: 5rem;
  }

  .package {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
    text-align: left;

  }

  .cargo {
    grid-column: 5 / 7;
    grid-row: 1 / 2;
    margin-top: 5rem;
  }

}