/* Custom variables */
:root {
  /* colors */
  --clr-primary: radial-gradient(
  rgba(255, 201, 195, 1),
  rgba(252, 204, 221, 0.15),
  rgba(226, 127, 251, 0.15),
  rgba(229, 219, 255, 0.15),
  rgba(252, 147, 204, 0.15),
  rgba(252, 147, 204, 0.15));
  --clr-secondary: rgba(245, 255, 255, 0.40);
  --clr-secondary-100: rgba(245, 255, 255, 0.25);
  --clr-button: rgba(226, 127, 251, 0.1);
  --clr-button-hover: rgba(226, 127, 251, 0.5);
  --clr-button-txt:rgba(255, 105, 48,.9);
  --clr-text-primary: rgba(46, 35, 31, 0.8);
  --clr-text-secondary: rgb(92, 92, 92);

  /* color effects */
  --box-shadow: 11px 5px 32px -4px rgba(54,54,54,0.2);

  /* font sizes */
  --fs-primary: clamp(1.8rem, 2vw + .1rem, 2.8rem);
  --fs-secondary: clamp(1.6rem, 1.4vw + .8rem, 2.4rem);
  --fs-tertiary: clamp(1.3rem, .8vw + .6rem, 1.8rem);


  /* line height */
  --lh-primary: 1.5;
  --ln-secondary: 1.25;
  --ln-tertiary: 1;


  /* width*/
  --width-primary: min(85%, 1800px);

}

/* Base reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'],
a {
  list-style: none;
  text-decoration: none;

}

a {
  color: inherit;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* set the font size of 1rem to 10px */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  margin-inline: auto;
  text-rendering: optimizeSpeed;
  line-height: var(--lh-primary);
  background-image: var(--clr-primary);
}

.container {
  max-width: var(--width-primary);
  margin-inline: auto;
}

section {
  margin-bottom: 4rem;
  max-height: 100%;
}


/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* SWIPER */


.swiper-container {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 4rem;
}

.swiper-slide {
  text-align: center;
  font-size: var(--fs-secondary);


  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}




/* UTILITIES */

/* LAYOUTS */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-flow: row;
}


/* TYPOGRAHPY */

/* Heading's */
.heading-primary {
  font-size: var(--fs-primary);
  color: var(--clr-text-primary);
}

.heading-secondary {
  font-size: var(--fs-secondary);
  color: var(--clr-text-primary);
}

.heading-tertiary {
  font-size: var(--fs-tertiary);
  color: var(--clr-text-primary);
}

/* Paragraphs */
.paragraph-primary {
  font-size: var(--fs-secondary);
  color: var(--clr-text-primary);
  line-height: var(--ln-primary);
}

.paragraph-secondary {
  font-size: var(--fs-tertiary);
  color: var(--clr-text-secondary);
  line-height: var(--ln-primary);
}


/* BUTTON STYLES */
.btn {
  font-size: var(--fs-tertiary);
  background-color: var(--clr-button);
  color: var(--clr-button-txt);
  border: none;
  border-radius: 1.2rem;
  cursor: pointer;
  max-width: 12rem;
  max-height: 2.9rem;
  display: grid;
  place-content: center;
}


.btn:hover{
  background-color:var(--clr-button-hover);
}


/* BUTTON HOVER ANIMATIONS */

/* keeps the icon and heading next to each other */
.heading-container {
  display: flex;
  align-items: center;
}

.heading-icon {
  max-width: 2.4rem;
  margin-right: .9rem;
  margin-top: -1.5rem;
}

/* sets the see more anchor on the right site of the page */
.see-more {
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 2rem 2rem 3rem 0;

}


.see-more_img {
  max-width: 2.5rem;
  margin-right: 1rem;
}

/* NAV BAR */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem 0;
}

.nav-sites {
  display: none;
  font-weight: bold;
}

/* Buger menu styles - start*/

#menu-btn {
  display: inline-block;
}


.icons {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: 0.5rem;
  background: var(--clr-button);
  color: var(--clr-button-txt);
  font-size: 2rem;
  text-align: center;

}

.icons:hover {
  cursor: pointer;
}


 .active{
  display: grid;
  text-align: left;
  gap: .5rem;
  border-radius: 1rem;
  transition: all 1s ease-in-out;
}

.active >*:hover{
 color: var(--clr-text-primary);
 background-color: var(--clr-secondary-100);
}




/* Buger menu styles - end*/


.logo_img {
  max-width: 4rem;
  margin: .5rem .5rem;
}



/* HEADER - NEW PRODUCTS SECTION */




/* ABOUT US - SECTION */
.about-us {
  background-color: var(--clr-secondary);
  padding: .5rem;
  display: grid;
  place-items: center;
  margin: 2rem;
  border-radius: 1.5rem;
}

.about-us_content {
  max-width: 80%;
  margin: 2rem 0;
}

.about-us h1 {
  text-align: center;

}

.about-us_img {
  display: grid;
  place-items: center;
}


/* OUR WORK - SECTION */

.our-work {
  margin-bottom: 4rem;
}

/* hides the curve arrows from small screens */
.curve-arrow_1,
.curve-arrow_2 {
  display: none;
}

/* fixes the issue with the picture in mobile vs desktop */
.package_img_desktop {
  display: none;
}

.package_img_mobile {
  display: inline-block;
}

.our-work_container {
  row-gap: 1.5rem;
}

.our-work_box {
  margin: 1rem;
  display: flex;
  align-items: center;
}

.box-content {
  margin: 1rem;
}


.box-img {
  max-width: 10rem;
}

.embroidery {
  grid-column: 1/3;
  grid-row: 1 / 2;
}

.package {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
  text-align: right;
}

.cargo {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}


/* PRODUCTS SECTIONs */


.products {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;

}


.product {
  display: grid;
  grid-auto-flow: column;
  grid-auto-flow: row;
  padding: 2.7rem;
  margin: 2rem 0;
  max-width: 30rem;
  height: 100%;
  background-color: var(--clr-secondary);
  border-radius: 1rem;
  box-shadow: 1px 5px 10px 1px rgba(0,0,0,0.1);
}



.product-img {
  max-width: 100%;
  grid-column: 1/3;
  grid-row: 1/3;
}

.product-heading {
  grid-column: 1/2;
  grid-row: 3/4;

}

.product-btn {
  grid-column: 5/6;
  grid-row: 4/5;
  display: grid;
  place-items: center;
  padding: .2rem;

}




/* FOOTER SECTION */

footer {
  margin-top: 4rem;
  max-height: 100vh;
  padding: 5rem 0 2rem 0;
  background-color: var(--clr-secondary-100);
  place-items: center;
  row-gap: 2rem;
  column-gap: 1rem;
  border-radius: 1.5rem;
}

.social-icon_container{
  transform: scale(1);
  cursor: pointer;
  transition: all .3s ease-in;
}

.social-icon_container:hover{
  transform: scale(1.1);
}

.follow-us {
  grid-column: 1/2;
  grid-row: 1/2;
}

.contact-us {
  grid-column: 3/4;
  grid-row: 1/2;
}

.copyright {
  margin-left: 1rem;
  grid-column: 1/2;
  grid-row: 3/4;
}

.footer-logo {
  max-width: 10rem;
  grid-column: 3/4;
  grid-row: 3/4;
}

.social-icon_container {
  display: flex;
  align-items: center;
  margin: .7rem 0;
}

.social-icon {
  margin-right: 1rem;
  max-width: 1.5rem;
}




/* ***** MEDIA QUERIES ***** */
@media screen and (min-width:900px) {

  /* NAVBAR */

  .nav-container {
    margin: 0;
  }

  .icons{
    display: none;
  }

  .nav-sites {
    display: flex;
  }



  .nav-sites>* {
    margin-inline: 1.25rem;
    font-size: var(--fs-secondary)
  }


  /* HEADER - NEW PRODUCTS SECTION */


  /* PRODUCTS SECTIONS*/
  .products {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }

  .product {
    display: grid;
    grid-auto-flow: column;
    grid-auto-flow: row;
    row-gap: 1rem;

    min-height: 30rem;
    min-width: 35rem;
    margin: 3.5rem;
    max-width: 30rem;
    height: 100%;
    background-color: var(--clr-secondary);
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
  }

  .product-heading{
    grid-column: 1/3;
  }

  /* ABOUT US - SECTION */
  .about-us {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-us_content {
    margin-left: 10rem;
    text-align: left;
    max-width: 25%;
  }

  .about-us p {
    margin-bottom: 2rem;

  }

  /* OUR WORK - SECTION */


  /* adding a bit more space */
  .our-work {
    padding: 3rem 0 10rem 0;

  }

  .heading-container {
    justify-content: flex-start;
    margin: 4rem 0;
  }

  /* fixes the issue with the picture in mobile vs desktop */
  .package_img_mobile {
    display: none;
  }

  .package_img_desktop {
    display: inline-block;
  }

  .our-work_container {
    row-gap: none;
    margin-top: 4rem;
  }

  .our-work_box {
    margin: 1rem;
    display: flex;
    align-items: flex-start;
  }

  .embroidery {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-top: 5rem;
  }

  .package {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
    text-align: left;

  }

  .cargo {
    grid-column: 5 / 7;
    grid-row: 1 / 2;
    margin-top: 5rem;
  }

}